<a href="https://colab.research.google.com/github/sy07/Machine-Learning-with-Python/blob/main/Task3_GoEDU.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Q1 Write a Python Program to sort (ascending and descending) a dictionary by value.**

In [53]:
import operator
d={'a':89,'j':90,'e':23,'w':67,'p':65}
print("dictionary : ",d)
print("----sorted in  asecending order------")
sorted_dict = dict( sorted(d.items(),key=operator.itemgetter(1)))
print('Sorted Dictionary: ')
print(sorted_dict)
print("----sorted in descending order------")
sorted_dict = dict( sorted(d.items(),key=operator.itemgetter(1),reverse=True))
print('Sorted Dictionary: ')
print(sorted_dict)

dictionary :  {'a': 89, 'j': 90, 'e': 23, 'w': 67, 'p': 65}
----sorted in  asecending order------
Sorted Dictionary:
{'e': 23, 'p': 65, 'w': 67, 'a': 89, 'j': 90}
----sorted in descending order------
Sorted Dictionary:
{'j': 90, 'a': 89, 'w': 67, 'p': 65, 'e': 23}

**Q.2 Write a Python Program to add a key to a dictionary.**

In [51]:
d={0: 10, 1: 20}
print(d)
print("----aftwer instering record--------")
d[2]=30
print(d)

{0: 10, 1: 20}
----aftwer instering record--------
{0: 10, 1: 20, 2: 30}

**Q:3 Write a program asks for City name and Temperature and builds a dictionary using that Later on you can input City name and it will tell you the Temperature of that City.**

In [52]:
n=int(input("How many cities you want to add"))
cities=list()
print("Enter ",n," cities name")
for i in range(0,n):
  cities.append(input())
print("cities :",cities)
temp=list()
print("Enter ",n," tempertaure name")
for i in range(0,n):
  temp.append(input())
print("tempature :",temp)


print("-------dict of cities and tempature-----")
d=dict(zip(cities,temp))
print(d)

How many cities you want to add2
Enter  2  cities name
ahmedabad
himmatnagar
cities : ['ahmedabad', 'himmatnagar']
Enter  2  tempertaure name
35
40
tempature : ['35', '40']
-------dict of cities and tempature-----
{'ahmedabad': '35', 'himmatnagar': '40'}

**Q4** **Write a Python program to convert list to list of dictionaries.**

In [16]:
colour = ["Black", "Red", "Maroon", "Yellow"]
hex = ["#000000", "#FF0000", "#800000", "#FFFF00"]
key_list = ['color_name','color_code']

print("The original color list : " + str(colour))
print("The original hex list : " + str(hex))  

n = len(colour)
m = len(hex)
res = [{key_list[0]: colour[idx], key_list[1]: hex[idx]}
       for idx in range(n)]
  
# printing result 
print("The constructed dictionary list : " + str(res))

The original color list : ['Black', 'Red', 'Maroon', 'Yellow']
The original hex list : ['#000000', '#FF0000', '#800000', '#FFFF00']
The constructed dictionary list : [{'color_name': 'Black', 'color_code': '#000000'}, {'color_name': 'Red', 'color_code': '#FF0000'}, {'color_name': 'Maroon', 'color_code': '#800000'}, {'color_name': 'Yellow', 'color_code': '#FFFF00'}]

**Q5  We have following information on Employees and their Salary (Salary is in lakhs),Employee:John,smith,alice,danieal	Salary: 14,13,32,21 **

1) Using above create a dictionary of Employees and their Salary

In [55]:
d = {'john':'14','smith':'13','alice':'32','daniel':'21'}
d

{'alice': '32', 'daniel': '21', 'john': '14', 'smith': '13'}

In [56]:
poll = True
while poll:
  usr_input = input("\nEnter choice: 1.Print, 2.add, 3.remove, 4.query, q to quit:")

  if usr_input == '1':
    print("Name Salary")
    for name, salary in d.items():
      print("{} ==> {}".format(name, salary))
  elif usr_input == '2':
    a = input("Enter employee name:")
    b = input("Enter employee salary:")
    d[a] = b  
    print("Name Salary")
    for name, salary in d.items():
      print("{} ==> {}".format(name, salary))
  elif usr_input == '3':
    rem = input("Enter name of employee you want to remove:")
    r = d.pop(rem)
    print("Name Salary")
    for name, salary in d.items():
      print("{} ==> {}".format(name, salary))
  elif usr_input == '4':
    x = input("Enter name of employee you want query:")
    print("Salary of employee is: %s" % d.get(x))
  elif usr_input == 'q':
    break  
  else:
    print("wrong choice")

Enter choice: 1.Print, 2.add, 3.remove, 4.query, q to quit:1
Name Salary
john ==> 14
smith ==> 13
alice ==> 32
daniel ==> 21

Enter choice: 1.Print, 2.add, 3.remove, 4.query, q to quit:2
Enter employee name:yash
Enter employee salary:55
Name Salary
john ==> 14
smith ==> 13
alice ==> 32
daniel ==> 21
yash ==> 55

Enter choice: 1.Print, 2.add, 3.remove, 4.query, q to quit:3
Enter name of employee you want to remove:yash
Name Salary
john ==> 14
smith ==> 13
alice ==> 32
daniel ==> 21

Enter choice: 1.Print, 2.add, 3.remove, 4.query, q to quit:4
Enter name of employee you want query:alice
Salary of employee is: 32

Enter choice: 1.Print, 2.add, 3.remove, 4.query, q to quit:q

**#Questions for sets**

**What is the difference between a set and a frozenset? Create any set and try to use frozenset(setname).**

**~** are mutable and frozensets are immutable

In [46]:
cities = set(("Paris", "Lyon", "London","Berlin","Paris","Birmingham"))
cities

{'Berlin', 'Birmingham', 'London', 'Lyon', 'Paris'}

In [47]:
Fcities = frozenset(cities)
Fcities

frozenset({'Berlin', 'Birmingham', 'London', 'Lyon', 'Paris'})

**Find the elements in a given set that are not in another set**

In [50]:
set1 = {10,20,30,40,50}
set2 = {40,50,60,70,80}
print("Set 1:")
print(set1)
print("set 2:")
print(set2)
print("Difference between set1 and set2:")
print(set1.difference(set2))

Set 1:
{40, 10, 50, 20, 30}
set 2:
{70, 40, 80, 50, 60}
Difference between set1 and set2:
{10, 20, 30}