<a href="https://colab.research.google.com/github/sy07/Machine-Learning-with-Python/blob/main/Task3_GoEDU.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Q4** Write a Python program to convert list to list of dictionaries.

In [16]:
colour = ["Black", "Red", "Maroon", "Yellow"]
hex = ["#000000", "#FF0000", "#800000", "#FFFF00"]
key_list = ['color_name','color_code']

print("The original color list : " + str(colour))
print("The original hex list : " + str(hex))  

n = len(colour)
m = len(hex)
res = [{key_list[0]: colour[idx], key_list[1]: hex[idx]}
       for idx in range(n)]
  
# printing result 
print("The constructed dictionary list : " + str(res))

The original color list : ['Black', 'Red', 'Maroon', 'Yellow']
The original hex list : ['#000000', '#FF0000', '#800000', '#FFFF00']
The constructed dictionary list : [{'color_name': 'Black', 'color_code': '#000000'}, {'color_name': 'Red', 'color_code': '#FF0000'}, {'color_name': 'Maroon', 'color_code': '#800000'}, {'color_name': 'Yellow', 'color_code': '#FFFF00'}]

**Q5**We have following information on Employees and their Salary (Salary is in lakhs),Employee:John,smith,alice,danieal	Salary: 14,13,32,21

1) Using above create a dictionary of Employees and their Salary

In [18]:
d = {'john':'14','smith':'13','alice':'32','daniel':'21'}
d

{'alice': 32, 'daniel': 21, 'john': 14, 'smith': 13}

In [39]:
poll = True
while poll:
  usr_input = input("\nEnter choice: 1.Print, 2.add, 3.remove, 4.query, q to quit:")

  if usr_input == '1':
    print("Name Salary")
    for name, salary in d.items():
      print("{} ==> {}".format(name, salary))
  elif usr_input == '2':
    a = input("Enter employee name:")
    b = input("Enter employee salary:")
    d[a] = b  
    print("Name Salary")
    for name, salary in d.items():
      print("{} ==> {}".format(name, salary))
  elif usr_input == '3':
    rem = input("Enter name of employee you want to remove:")
    r = d.pop(rem)
    print("Name Salary")
    for name, salary in d.items():
      print("{} ==> {}".format(name, salary))
  elif usr_input == '4':
    x = input("Enter name of employee you want query:")
    print("Salary of employee is: %s" % d.get(x))
  elif usr_input == 'q':
    break  
  else:
    print("wrong choice")

Enter choice: 1.Print, 2.add, 3.remove, 4.query, q to quit:1
Name Salary
john ==> 14
smith ==> 13
alice ==> 32
daniel ==> 21
yash ==> 54
qwerty ==> 55

Enter choice: 1.Print, 2.add, 3.remove, 4.query, q to quit:3
Enter name of employee you want to remove:yash
Name Salary
john ==> 14
smith ==> 13
alice ==> 32
daniel ==> 21
qwerty ==> 55

Enter choice: 1.Print, 2.add, 3.remove, 4.query, q to quit:4
Enter name of employee you want query:qwerty
Salary of employee is: 55

Enter choice: 1.Print, 2.add, 3.remove, 4.query, q to quit:q